* {
	font-family: consolas;
	margin:0;
	padding: 0;
	box-sizing:border-box;
	font-size: 1.7vh;
	line-height: 2.5vh;
	scrollbar-width: thin;
	scrollbar-color: #aaa #f0f0f0;
	transition: all 1s ease; 
}
body{
	margin:0 auto;
	padding: 2.5vh 2.5vw;
}
.suggestbox, .resultbox{
	display: block;
	position: fixed;
	vertical-align: top;
	height: 95vh;
	width: 48.5vw;
	box-shadow: inset 0 0 0.5vw rgba(127,127,127,0.5);
	z-index: 5;
}
.portrait .resultbox{
	width: 96vw;
	right: 2vw;
}
.portrait .suggestbox{
	width: 0;
	overflow: hidden;
	left: 2vw;
	padding: 0 !important;
}
.portrait .push .suggestbox{
	width: 96vw !important
}
.portrait .push .resultbox{
	width: 0 !important;
	overflow: hidden;
	padding: 0 !important;
}
.portrait .sidebar{
	display: flex;
}
.sidebar {
    display: none;
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
	z-index: 9999;
	cursor: pointer;
}
.sidebar div{
	width: 50%;
	height: 100%;
	background-color: #fff;
	box-shadow: inset 0 0 0.5vw rgba(127,127,127,0.5);
}
.sidebar .active{
	background-color: var(--active-color);
}
.suggestbox {
	left: 1vw;;
	padding: 2vh 1vw;
	display: flex;
}
.resultbox{
	right: 1vw;
	padding: 2vh 1vw;
	display: flex;
    flex-flow: column-reverse;
	justify-content: center;
	align-items: center;
}
#count {
    display: inline-block;
    height: 2.5vh;
    width: 100%;
	text-align: center;
	box-shadow: inset 0 0 0.5vw var(--active-color);
}
#Question{
	width: 100%;
	padding: 1vh 1vw;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	margin-top: 1vh;
	text-align: justify;
}
.Qbox{
	position: relative;
	width: 100%;
}
#del{
	position: absolute;
	right: 2.5vw;
	bottom: -1.5vh;
	display: block;
	width: 5vw;
	height: 3vh;
	display: inline-block;
	line-height: 2vh;
	background-color: #fff;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	opacity: 0.4;
	cursor: pointer;
	border: thin solid rgba(0,0,0,0.5);
}
#add{
	position: absolute;
	right: 12.5vw;
	bottom: -1.5vh;
	display: block;
	width: 5vw;
	height: 3vh;
	display: inline-block;
	line-height: 2vh;
	background-color: #fff;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	opacity: 0.4;
	cursor: pointer;
	border: thin solid rgba(0,0,0,0.5);
}
.portrait #del{
	width: 10vw;
}

.portrait #add{
	width: 10vw;
	right: 12vw;
}
#del:hover{
	opacity: 0.8;
	box-shadow: inset 0 0 2vw var(--active-color);
}
#add:hover{
	opacity: 0.8;
	box-shadow: inset 0 0 2vw var(--active-color);
}
.action button{
	display: block;
	padding: 0 1vw;
	display: inline-block;
	cursor: pointer;
	border: none;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	opacity: 0.8;
	height: 3vh;
	line-height: 3vh;
	margin-top: 1vh;
}
.action button:hover{
	box-shadow: inset 0 0 2vw var(--active-color);
	opacity: 1;
}
#Q{
	padding: 1vh 1vw; 
	max-height: 25vh;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	margin-top: 1vh;
	overflow: auto;
	text-align: justify;
	position: relative;
}
#meaning {
	width: 100%;
	margin-top: 1vh;
	padding: 0.5vh 0.5vw;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	border: none;
	min-height: 7.5vh;
	max-height: 25vh;
	overflow: auto;
	text-align: center;
}
#card {
    min-height: 5vh;
    overflow: auto;
    max-height: 40vh;
    display: flex;
    flex-flow: wrap;
    width: 100%;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	padding: 0.5vh 0.5vw;
}
.action button{
	padding: 0 1vw;
	cursor: pointer;
}
.tagbox {
    padding: 1vh 0;
    margin: 1vh 0;
}
#unique-meaning {
    display: inline-block;
    margin-top: 2vh;
    text-align: justify;
    padding-right: 2vw;
}
.tag{
	padding: 0 1vw;
	display: inline-block;
	margin-right: 1vw;
	box-shadow: inset 0 0 0.5vw rgba(0,0,0,0.5);
	margin-top: 0.5vh;
	cursor: pointer;
}
.tag.temp{
	box-shadow: inset 0 0 3vw rgba(0,0,0,0.5);
}
.tag:hover{
	box-shadow: inset 0 0 2vw var(--active-color);
}
.tag.active{
	background-color: var(--active-color);
}
.result-line {
    display: flex;
    flex-direction: row;
	margin: 0.5vw 0;
	cursor: pointer;
}
.result{
	width: 20%;
}
.mean{
	display: flex;
	width: 80%;
}
.mean div{
	padding: 0 1vw;
}
.result-line:hover{
	background-color: var(--active-color);
}
.none{
	display: none !important;
}
#cardbox {
    display: flex;
    height: 100%;
    box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.1);
    overflow: auto;
    flex-flow: column;
	width: 50%;
}
#solve{
	display: block;
	flex: 1;
	height: 100%;
	padding: 0 1vw;
}
#Q textarea{
	width: 100%;
}
#Q input{
	width: 75%;
}
#Q button{
	position: absolute;
	right: 1vw;
	bottom: 1vh;
	display: block;
	width: 5vw;
	height: 3vh;
	display: inline-block;
	line-height: 2vh;
	background-color: #fff;
	box-shadow: inset 0 0 0.5vw var(--active-color);
	opacity: 0.4;
	cursor: pointer;
	border: thin solid rgba(0,0,0,0.5);
	z-index: 9999;
}
#Q button:hover{
	opacity: 0.8;
	box-shadow: inset 0 0 2vw var(--active-color);
}
#btncount {
    display: inline-block;
    cursor: pointer;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    width: 100%;
	box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.1);
}
#btncount:hover{
	box-shadow: inset 0 0 2vw rgba(0, 0, 0, 0.1);
}
#relatetag {
}
#relatetag .tag{
	width: 100%;
	min-height: 5vh;
	display:flex;
	align-items: center;
}

.keytag {
    line-height: 3vh;
	height: 3vh;
    margin-right: 1vw;
    font-style: italic;
	cursor: pointer;
	padding: 0 0.5vw;
	margin: 0.2vh 1vw 0.2vh 0;
	box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.5);
}
.keytag:hover {
    line-height: 2.5vh;
    font-weight: bold;
	cursor: pointer;
	text-shadow:2px 2px 4px var(--active-color)
}
.keytag.active {
    background-color: var(--active-color)
}
#loadingLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
#down {
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    height: 5vh;
    width: 5vh;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
	box-shadow: inset 0 0 0.5vw rgba(0,0,0,0.5);
	background-color: #fff;
	z-index: 9999;
}
#down:hover {
	opacity: 1;
	box-shadow: inset 0 0 2vw rgba(0,0,0,0.5);
}
